<%= content_for :title do %>
	<title>Lender Page</title>
<% end %>

<p>Name : <%= @lender.first_name %> <%= @lender.last_name %></p>
<p>Account Balance: $ <%= @lender.money %></p>

<%= link_to 'Logout', sessions_destroy_path %>

<h2>List of people in need of help:</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Need Money For</th>
			<th>Reason for Loan</th>
			<th>Amount Needed</th>
			<th>Amount Raised</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	<% if @borrowers %>
		<% @borrowers.each do |borrower| %>
		<tr>
			<td><%= borrower.first_name %> <%= borrower.last_name %></td>
			<td><%= borrower.purpose %></td>
			<td><%= borrower.description %></td>
			<td>$ <%= borrower.money %></td>
			<td>$
				<% if borrower.raised %>
					<%= borrower.raised %>
				<% else %>
					0
				<% end %>
			</td>
			<td>(#INPUT MONEY) (#BUTTON LEND)</td> 
		</tr>
		<% end %>
	<% end %>
	</tbody>
</table>

<h2>List of people you have lent money to:</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Need Money For</th>
			<th>Reason for Loan</th>
			<th>Amount Needed</th>
			<th>Amount Raised</th>
			<th>Amount Lent</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Pam Smith</td>
			<td>Boutique Business</td>
			<td>I am in need of help for my...</td>
			<td>$4,000</td>
			<td>$350</td>
			<td>$25</td>
		</tr>
	</tbody>
</table>