<%= content_for :title do %>
	<title>Login Page</title>
<% end %>

<h1>Login</h1>
<% if @message %>
	<p><%= @message %></p>
<% elsif @error %>
	<div class="alert alert-danger"><%= @error %></div>
<% end %>
<%= simple_form_for(:session, url: session_path) do |f| %>
	<%= f.input :email %>
	<%= f.input :password %>
	<%= f.button :submit, 'Login', class: "btn btn-primary" %>
<% end %>
<%= link_to 'Click here to register', online_lending_register_path %>

