<%= content_for :title do %>
	<title>Registration Page</title>
<% end %>

<h1>Lender</h1>
<%= simple_form_for @lender, url: online_lending_lender_path do |f| %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :email %>
	<%= f.input :password %>
	<%= f.input :money %>
	<%= f.button :submit, 'Register' %>
<% end %>
<!-- Link to login page if already a member -->


<h1>Borrower</h1>
<%= simple_form_for @borrower, url: online_lending_borrower_path do |f| %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :email %>
	<%= f.input :password %>
	<%= f.input :purpose %><!-- Change to 'Need Money For' -->
	<%= f.input :description %>
	<%= f.input :money %><!-- Change to 'Amount Needed' -->
	<%= f.button :submit, 'Register' %>
<% end %>
<!-- Link to login page if already a member -->
